/*шрифт*/
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proximanova_regular.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proximanova_bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proximanova_light.otf") format("opentype");
  font-weight: 400;
}

/*обнуление*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgba(5, 13, 42, 1);
  overflow-x: hidden;
}
h1 {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58.46px;
  text-align: center;
}
h2 {
  font-size: 36px;
  line-height: 43.85px;
}
h3 {
  font-size: 22px;
  line-height: 26.8px;
}
h6 {
  font-size: 16px;
  line-height: 19.49px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

/*общее*/
.wrapper {
  max-width: 1070px;
  width: 100%;
  padding: 0 15px;
  display: flex;
}
.button {
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.92px;
}
.button-transparent {
  border: 2px solid white;
  background: none;
}
.button-full {
  background: linear-gradient(to right, #4870ff, #fa00ff);
  box-shadow: 0px 4px 16px #8a61ff99;
  border-style: none;
}
.button-light {
  background: rgba(72, 112, 255, 1);
  border-radius: 16px;
  border-style: none;
  font-size: 10px;
  font-weight: 600;
  color: white;
  padding: 5px 13px;
}
.input {
  max-width: 202px;
  height: 44px;
  width: 100%;
  border: none;
  border-radius: 8px;
}
.textarea {
  height: 128px;
  resize: none;
}
.input::placeholder,
.textarea::placeholder {
  color: rgba(5, 13, 42, 1);
  opacity: 40%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 14px;
  padding-top: 12px;
  font-family: "Proxima Nova";
  font-weight: 400;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.text {
  font-weight: 400;
  line-height: 19.49px;
}
.checkbox {
  margin-top: 12px;
  vertical-align: text-bottom;
}
.link {
  text-decoration: underline;
}
.label {
  font-size: 14px;
  line-height: 17.05px;
  font-weight: 400;
}
.rules {
  font-size: 14px;
  line-height: 17.05px;
  font-weight: 400;
  max-width: 655px;
  margin-bottom: 50px;
}

/*хедер*/
#header {
  background-color: rgba(1, 1, 31, 0.4);
  width: 100vw;
  display: flex;
  justify-content: center;
}
.header__wrapper {
  min-height: 72px;
  justify-content: space-between;
  align-items: center;
}
.header-nav__list {
  display: flex;
  align-items: center;
  column-gap: calc(1070px * 0.03);
}
.header-nav__button {
  padding: 9px 32px;
}
.header__register {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 21.92px;
  color: white;
  font-weight: 700;
}

/*интро*/
#intro {
  width: 100vw;
  height: 674px;
  background-image: url("./images/intro/intro.png");
  background-size: 105% 140%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  z-index: 4;
}
.intro__wrapper {
  flex-direction: column;
  align-items: center;
}
.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__text {
  font-size: 28px;
  font-weight: 400;
  line-height: 34.1px;
  text-align: center;
}
.intro__buttons {
  margin-top: 24px;
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.intro__button {
  padding: 11px 62px;
}
/*форма*/
.intro__form {
  background: linear-gradient(
    to right,
    rgba(79, 89, 124, 0.4),
    rgba(123, 135, 175, 0.4),
    rgba(63, 72, 105, 0.4)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(58, 64, 84, 1);
  border-radius: 16px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.intro__form__text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 123px;
}
.intro__form__title {
  text-transform: uppercase;
  font-size: 22px;
}
.intro__form__icons {
  display: flex;
  gap: 24px;
}
.intro__form__li {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.intro__form__icon {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.62px;
}
.intro__form__register {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.intro__form__input--largest {
  max-width: 220px;
}
.intro__form__register__button {
  padding: 11px 41px;
  text-wrap: nowrap;
}

/*геймс*/
#games {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 917px;
  background-image: url("./images/footer/footer.jpeg");
  background-size: 180% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
#games::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 13, 42, 0.4);
  z-index: 2;
}
.games__wrapper {
  flex-direction: column;
  gap: 24px;
  z-index: 10;
  position: relative;
  top: -99px;
}
.games__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: self-end;
}
.games__link {
  font-weight: 600;
  line-height: 19.49px;
}
.games__img {
  object-fit: cover;
  border-radius: 16px;
  height: 120px;
}
.games__author {
  font-size: 12px;
  font-weight: 300;
  opacity: 50%;
}
/*карточки*/
.games__cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.games__cards--short-images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.games__cards--long-images-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.games__cards--long-images-list > li:nth-child(3) {
  grid-column: 1 / -1;
}
.games__cards--long-images-list > li:nth-child(3) img {
  width: 100%;
}
.games__figure {
  position: relative;
}
.games__figure__img {
  height: 160px;
}
.games__figcaption {
  max-width: 162px;
  position: absolute;
  top: 16px;
  left: 12px;
  z-index: 10;
}
.games__figcaption__text {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.18px;
  margin-bottom: 16px;
}
.games__promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games_promo_button {
  padding: 5px 16px;
}
/*под карточками*/
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
  min-width: 400px;
}
.contact__input {
  max-width: 400px;
}
.contact__label {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__img {
  position: relative;
  top: -16px;
}
.contact__button {
  padding: 9px 39px;
}

/*футер*/
#footer {
  display: flex;
  justify-content: center;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 15px;
}
.footer_nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.footer_rules {
  min-width: 100%;
  text-align: center;
  position: relative;
}
.footer_rules::before {
  content: "";
  position: absolute;
  top: 79px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  opacity: 10%;
}
.footer__li {
  font-size: 18px;
  line-height: 21.92px;
}
.footer__media {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__media__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17.05px;
}
.footer__icons {
  display: flex;
  gap: 12px;
}

/*лоадер*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 13, 42, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #4870ff, #fa00ff) 1;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*попап*/
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
#popup.active {
  visibility: visible;
  opacity: 1;
}
.popup-content {
  background: linear-gradient(
    to right,
    rgba(79, 89, 124, 0.4),
    rgba(123, 135, 175, 0.4),
    rgba(63, 72, 105, 0.4)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(58, 64, 84, 1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.popup__button {
  padding: 11px 22px;
}

@media (max-width: 800px) {
  .games__cards {
    flex-direction: column;
  }
  .games__wrapper {
    top: 0;
  }
  #games {
    height: 1350px;
  }
  .contact__img {
    display: none;
  }
}
